<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gray.user.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.gray.user.entity.User">
		<result column="username" property="username" />
		<result column="password" property="password" />
	</resultMap>
	
	<resultMap id="payResultMap" type="com.gray.user.entity.PayVO">
        <result column="money" property="money" />
        <result column="time" property="time" />
    </resultMap>
	
  <sql id="Base_Column_List" >
    username, password
  </sql>
  <select id="selectId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  
     <!-- 插入数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
            username ,
            password 
          
        ) VALUES (
            #{username} ,
            #{password} 
        )
    </insert>
  
  
  <select id="getPay" resultMap="payResultMap" >
    select 
      use_online_payed money,
      create_time time
        from gt_orders
        where create_time &gt;  #{time}
        and pay_status=1
        order by create_time desc
  </select>
  
</mapper>